.newsletter-subscribe {
  background-color: #f8f9fa;
  padding: 40px;
  text-align: center;
  margin-bottom: 40px;
}

.newsletter-subscribe input {
  margin-left: 400px;
  width: 40%;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid #ccc;
}

.newsletter-subscribe button {
  padding: 10px 20px;
  border-radius: 30px;
  margin-left: 20px;
  border: none;
  background-color: black;
  color: white;
}

footer {
  text-align: center;
  margin-top: 40px;
}

a {
  text-decoration: none;
  color: #000;
  height: 20px;
}

a:hover {
  background-color: greenyellow;
  color: #fff;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  /* For mobile devices */
  .newsletter-subscribe input {
    margin-left: 0;
    width: 80%;
  }

  .newsletter-subscribe button {
    margin-left: 0;
    width: 80%;
    margin-top: 10px;
  }
}
